root = true

# All files
[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# .NET files
[*.{cs,csx,vb,vbx}]
indent_style = space
indent_size = 4
end_of_line = lf

csharp_style_namespace_declarations = file_scoped:suggestion

csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_elsewhere = false:suggestion

csharp_style_expression_bodied_methods = false:suggestion

dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_style = space
indent_size = 2

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Docker files
[Dockerfile*]
indent_style = space
indent_size = 2
